[DEFAULT]
ConnectionType=initiator
ReconnectInterval=120
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
SSLProtocol = +TLSv1_2 -SSLv2
ValidateUserDefinedFields=N
ResetOnLogout=Y
ResetOnLogon=Y
HeartBtInt=30
BeginString=FIX.4.4
DataDictionary=FIX44-CSERVER.xml

# <A> Logon - setting
SenderCompID=test.123456
TargetCompID=CSERVER
Username=123456
Password=password

# OPTION setting
SYMBOL=4

[SESSION]
SenderSubID=QUOTE
TargetSubID=QUOTE
SessionQualifier=QUOTE
SocketConnectHost=test.com
SocketConnectPort=5211

[SESSION]
SenderSubID=TRADE
TargetSubID=TRADE
SessionQualifier=TRADE
SocketConnectHost=test.com
SocketConnectPort=5212
